<div class="card">
    <div class="card-body">

        <form
            (submit)="submit()"
            [formGroup]="addForm"
        >
            <div class="form-group">
                <textarea
                    type="text"
                    class="form-control"
                    placeholder="Co u Ciebie słychać?"
                    formControlName="body"
                ></textarea>
            </div>
            <div class="text-danger">
                <span *ngIf="body.dirty && body.errors?.minlength">
                    Za mało znaków
                </span>
                <span *ngIf="body.dirty && body.errors?.required">
                    Pole jest wymagane
                </span>
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="addForm.invalid"
            >
                Dodaj
            </button>
        </form>

    </div>
</div>
