<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" 
            routerLinkActive="bg-danger text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/">
            Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
            routerLinkActive="bg-danger text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/404">
            404
            </a>
        </li>
    </ul>
</nav>
