<nav class="navbar bg-primary">
    <h1 class="text-white">Facebook</h1>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link text-white"
                routerLinkActive="bg-danger"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/"
            >
                Home
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-white"
                routerLinkActive="bg-danger"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/404"
            >
                404
            </a>
        </li>
    </ul>
</nav>
